html{
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

#userNav{
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}

#userNav li{
    display: block;
    background: #FFF;
    position: relative;
    z-index: 500;
    margin: 0;
    margin-top: 0px;
    margin-left: 0px;
    width: 100px;
    height: 30px;
}

#userNav li a {
    display: block;
    padding: 6px 5px 0 5px;
    font-weight: 700;
    height: 20px;
    text-decoration: none;
    color: #090;
    text-align: left;
}

#userNav ul {
    position: absolute;
    left: 0;
    display: none;
    margin: 0;
    padding: 0;
    margin-left: 100px;
    margin-top: -30px;
    float:left
    list-style: none;
}
#userNav ul li {
    float: left;
    border-top: 1px solid #fff;
    width: 100%;
    white-space: nowrap;
}

#userNav ul a {
    display: block;
    height: 30px;
    padding: 6px 5px 0 5px;
    color: #930;
    text-align: left;
}

#userNav ul a span{
    position: absolute;
    bottom: 0;
}

#userNav a:hover {
    text-decoration: none;
    background-color: #111;
}














