{% extends "template.html" %}
{% block content %}
    {{name}}

    <h2>Lobby</h2>

    <form class="viewLeaderBoard">
        <input type="submit" value="View Leaderboard">
    </form>
    <form class="viewCurrentGames">
        <input type="submit" value="View Current Games">
    </form>

    <ul id="userNav">
    {% for user in users %}
        {% if user != name %}
            <li><a href="#">{{user}}</a>
                <ul>
                    <li><a href="/game">Challenge</a></li>
                    <li><a href="#">History</a></li>
                </ul>
            </li>
        {% endif %}
    {% endfor %}
    </ul>

    <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/lobby.js')}}"></script>
{% endblock %}