{% extends "template.html" %}
{% block content %}
    {{name}}
    <h2>Lobby</h2>

    <form class="viewLeaderBoard">
        <input type="submit" value="View Leaderboard">
    </form>
    <form class="viewCurrentGames">
        <input type="submit" value="View Current Games">
    </form>

    <ul id="userNav">
        <li><a href="#">John G.</a>
            <ul>
                <li><a href="/game">Challenge</a></li>
                <li><a href="#">History</a></li>
            </ul>
        </li>
        <li><a href="#">Jill P.</a>
            <ul>
                <li><a href="/game">Challenge</a></li>
                <li><a href="#">History</a></li>
            </ul>
        </li>
    </ul>

    <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/lobby.js')}}"></script>
{% endblock %}